repo="RNAseq-VC-nf"

executor {
    name = 'local'
    cpus = 60
    memory = '500GB'
    queueSize = 15
}

params {
    input="$PWD/input"
    output="$PWD/output"
    genomes="$PWD/genomes"
    work="$PWD/work"
    aux="$PWD/${repo}/auxillary"

    large_core=4
    small_core=3

    huge=40
    big=10
    small=4
}

timeline {
    enabled = true
    file = "{params.output}/${params.dir}/trace/execution_timeline.html"
}
report {
    enabled = true
    file = "{params.output}/${params.dir}/trace/execution_report.html"
}
trace {
    enabled = true
    file = "{params.output}/${params.dir}/trace/execution_tract.txt"
}

