repo="RNAseq-VC-nf"

aux_location="/home/linuxbrew/nextflow/${repo}/auxillary/"
output_location="/home/BIOTECH/zamanian/GitHub/${repo}/output/"

brc_location="/mnt/facilitydata/zamanian/data_BRC/Zamanian/"
data_location="/home/BIOTECH/zamanian/data/"
aedesgenome_location="/mnt/genomes/Other/Aedes_aegypti/"

large_core=4
small_core=3
